<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/blog-edit.css}">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
</head>
<body>
	<header id = "header">
		<h1 class = "site-title"><div th:text ="${accountName} + Blog"></div></h1>
		<nav>
            <ul>
                <li><a th:href = "@{/user/blog/list}" target = "_blank">Article List</a></li>
                <li><a th:href = "@{/user/blog/register}" target = "_blank">Article Writing</a></li>
                <li><a th:href = "@{#article-edit}">Article Editing</a></li>
                <li><a th:href = "@{/user/blog/logout}" target = "_blank">Logout</a></li>
            </ul>
		</nav>
	</header>

	<main>
		<div id = "main-visual">
			<picture>
				<source media = "(max-width: 600px)" th:srcset = "@{/img/kaede.jpg}">
				<img th:src = "@{/img/kaede.jpg}" alt = "メインビジュアル">
			</picture>
		</div>

		<section id = "article-edit" class = "wrapper">
			<h2 th:text = "${registerMessage}"></h2>
			<h2 class = "section-title">Article Editing</h2>
            <form th:action = "@{/user/blog/update}" method = "post">
				<div class="box">
					<dl>
						<dt>Title</dt>
						<dd><input type = "text" id = "title" name = "blogTitle" th:value = "${blogList.blogTitle}"  required></dd>
						<dt>Category</dt>
						<dd><input type = "text" id = "category" name = "categoryName" th:value = "${blogList.categoryName}" required></dd>
						<dt>Article</dt>
						<dd><textarea id = "article" name = "article" th:text = "${blogList.article}" required></textarea></dd>
					</dl>
					<input type = "hidden" name = "blogId" th:value = "${blogList.blogId}">
				</div>
                <div id = "set-button">
                    <div class = "update-button"><input type = "submit" value = "Update Article"></div>					
                    <!--<div class = "delete-button"><input type = "submit" value = "Delete article"></div>-->
                   <div class = "delete-button">
					   <input type = "hidden" name = "blogId" th:value = "${blogList.blogId}">
					   <input type = "submit" value = "Delete article" th:formaction="@{/user/blog/delete}">				   
				   </div>
                </div>
            </form>
            
			<div id = "image-update" th:each="blog:${blogList}">
                <a th:href = "@{/user/blog/image/edit/{blogId}#new-article(blogId=${blog.blogId})}">
                    <div class = "update-button"><input type = "submit" value = "Image Update"></div>
                </a>
			</div>
            
		</section>
	</main>

	<footer id = "footer">
		<p>&copy; 2023 My Blog Kuriwaki</p>
	</footer>
</body>

</html>